body {
  position: relative;
}

#section1 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #1E88E5;
}

#section2 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #673ab7;
}

#section3 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #ff9800;
}

#section41 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #00bcd4;
}

#section42 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #009688;
}

#section43 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #F0E68C;
}

#section44 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #8FBC8F;
}

#section45 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #FF69B4;
}


